.english-header{
    padding-top: 170px;
    background-color: #74EBD5;
background-image: linear-gradient(90deg, #556361 0%, #8490c7 100%);
height: 100%;
color: rgb(255, 255, 255);
margin-bottom: auto ;
}
.english-header-paragraph{
    text-align: center;
    padding: 30px;
}
.english-header-paragraph h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.english-header-paragraph p {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 22px;
}
.english-header-paragraph img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}   
.img-div{
    width: 90%;
    align-items: center;
    margin-left:  auto;
    margin-right: auto;
    height: 100%;
    padding-top: 50px;
    /* padding-bottom: 40px; */
}

@media(max-width:500px){
    .english-header-paragraph p{
        font-size: 15px;
    }
}