body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.footer1 {
    background: #222;
    color: white;
    text-align: center;
    padding: 90px 0;
    margin-top:   0px;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo1 {
    width: 100px;
    margin-bottom: 60px;
}
.phone1 {
    font-size: 16px;
    margin-bottom: 10px;
}

.socials1 {
    display: flex;
    gap: 15px;
}

.social-icon1 {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.social-icon1:hover {
    color: #00aced; /* Change color on hover */
}
.phone1{
    display: flex;
    align-items: center;
    gap: 6px;
}