.home{
    background-color: red;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column; 
}
.home-main-header{
    margin-top: 200px;
    font-size: 50px;
    font-weight: 800;
    color: white;
    text-align: center;
    text-shadow: rgba(255,255,255, 0.98) 0px 2px 15px;

}

.home-main-btn{
    display: flex;
    align-items: center;
    border: 1px solid grey;
    color: white;
    font-size: large;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 80px;
    padding: 10px;
    transition: .3s;
    text-align: center;
    text-shadow: rgba(255,255,255, 0.98) 0px 2px 15px;
}
.home-main-btn-icon{
    margin-left: 5px;
}



.home-main-btn:hover{
    border: 1px solid green;
    background-color: rgba(0, 128, 0, 0.249);
}

@media(max-width:633px){
    .home-main-header{
        font-size:35px;
        margin-top: 200px;
    }
    .home-main-btn{
        font-size: 15px;
    }
    .fanlar-fan-btn{
        font-size: 15px;
    }
}



/* fanlar bellow */


.fanlar-header{
    background: 
    linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), 
    url(./images/books.jpg);
    height: 50vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
.fanlar-header{
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.fanlar-fan{
    background: 
    linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), 
    url(./images/ingliz.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
}
.fanlar-fan h1{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.fanlar-fan-btn{
    display: flex;
    align-items: center;
    border: 1px solid grey;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    transition: .4s;
}
.fanlar-fan-btn:hover{
    background-color: rgba(0, 128, 0, 0.427);
}



/* image bgs */


.onatili{
    background: 
    linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), 
    url(./images/lib.jpg);
}
.koreys{
    background: 
    linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), 
    url(./images/koreys.jpg);
    background-position: center;
    background-size: cover;
}
.math{
    background: 
    linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), 
    url(./images/math.webp);
    background-position: center;
    background-size: contain;
}

.tarix{
    background: 
    linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), 
    url(./images/tarix.jpg);
    background-position: center;
    background-size: contain;
}
.bio{
    background: 
    linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), 
    url(./images/bio.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}